applications:
  backend:
    type: nodejs:24

    source:
      root: "backend"

    build:
      flavor: none

    hooks:
      build: |
        set -ex
        npm install
        npm run build

    web:
      commands:
        start: npm start

      locations:
        /:
          root: public
          passthru: true
          allow: false

routes:
  "https://{default}/":
    type: upstream
    id: backend
    upstream: "backend:http"

